@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
}

